# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/src/main/resources/setup.properties

.idea

gradle

irudiak/1491910399.png
irudiak/1491946008.png
irudiak/1491978236.png
irudiak/9781491906187.png
irudiak/9781491920497.png